<main role="main" class="container">
 <div class="starter-template">
 <h1>Lista Pracownikow</h1>
 <table border = 1>
 <thead>
 <td>imieiNazwisko</td>
 <td>nrpracownika</td>
 <td>adres</td>
 </thead>

 {% for rekord in rekordy %}
 <tr>
 <td>{{rekord["imieinazwisko"]}}</td>
 <td>{{rekord["nrpracownika"]}}</td>
 <td> {{ rekord["adres"]}}</td>
 </tr>
 {% endfor %}
 </table>
 {% if current_user.is_authenticated %}
 <a class="py-2 d-none d-md-inline-block" href="/logout">Wyloguj się</a>
{% endif %}
 <h2><a href ="/">Powrót do strony głównej</a></h2>
 </div>
 </main><!-- /.container -->
